/*body {
  text-align: center;
}
*/
#container {
  margin: 0 auto;
  width: 650px;
  /*text-align: left;*/
}

#title_div {
	text-align: center;
	color: blue;
	text-shadow: 2px 2px 1px #BBBBBB;
	font-size: 40px;
}

#title_div span {
	cursor: pointer;
}

#summary_span {
    font-size: smaller;
}

#logout_link {
	float: right;
	font-size: smaller;
	/*text-align: right;*/
}

#breadcrumbs_div {
  /*font-size: 200%;*/
  /*font-weight: bold;*/
  text-align: center;
}

#favorites_dropdown {
    font-size: smaller;
    cursor: default;
}

#favorites_div {
    font-size: smaller;
}

.center {
	text-align: center;
}

table {
  width: 100%;
  font-size: x-small;
  border:1px solid #CCCCFF;
  border-radius: 5px;
}

th {
    text-align: left;
    background-color: #5555FF;
    color: white;	
    padding: 5px;
    border:none
}

#download_header {
    text-align: center;
}

#delete_header {
    text-align: center;
}

td {
	text-align: left;
	padding: 5px;
	border:none
}

tr:nth-child(even) {background-color: #EEEEFF}

.button_panel {
	text-align: center;
	margin: 10px 0px 10px 0px;
}

.link {
    text-decoration: underline;
    color: blue;
    cursor:pointer;
}

.uploader
{
	border: 2px dotted #A5A5C7;
	/*float: left;*/
	/*width: 300px;*/
	width: 100%;
	color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 15px 0px;
	margin-bottom: 10px;
    font-size: 24px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uploader-active {
	border-color: #0B85A1;
}

.uploader div.or {
	font-size:14px;
	font-weight: bold;
	color: #C0C0C0;
	padding: 10px;
}

.uploader div.browser label {
	background-color: #5a7bc2;
	padding: 5px 15px;
	color: white;
	padding: 6px 0px;
    font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	display: block;
	width: 300px;
	margin: 20px auto 0px auto;

	box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
	cursor: pointer;
}

.uploader div.browser input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.uploader div.browser label:hover {
	background-color: #427fed;
}

/*
 * File list
 */
#fileList {
  /*float:right;*/
  /*width: 330px;*/
  width: 100%;
  height:196px;
  /*margin-left: 305px;*/
	/*margin: 5px 5px 5px 305px;*/
	margin: 5px 5px 5px 5px;
	padding: 0px;
	list-style-type: none;
	color: gray;
  
  font-size: 12px;
  
  overflow: auto;
}

#fileList .file {
  width: 290px;
  margin-bottom: 15px;
}

#fileList .info {
  width: 290px;
  height: 26px;
  display: block;
  overflow: hidden;
  
  line-height: 13px;
}

#fileList .filename {
  font-weight: bold;
}

#fileList .bar {
  border: solid 1px #C0C0C0;
  height: 12px;
  margin-top: 5px;
  padding: 1px;
  width: 290px;
}

#fileList .progress {
  height: 12px;
  background-color: #00CCFF;
}

#fileList span.success {
  color: #009900;
}

#fileList span.error {
  color: #990000;
}